.page {
  background-color: #e5e5e5;
  min-height: 100vh;
}

.checkbox {
  height: 16px;
  width: 16px;
}

.outer {
  margin-left: 286px;
  display: flex;
  flex-direction: column;
  margin-right: 101px;
  height: 100%;
}

.title {
  position: relative;
  margin-top: 100px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000;
}

.tabs {
  display: flex;
  position: relative;
  margin-top: 2px;
  gap: 54px;
  height: 72px;
  width: 834;
  margin-bottom: 21px;
}

.tabsButton {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tabsButtonSelected {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  border-bottom: 7px solid #ffd84d;
  border-radius: 4px;
}

.horizontalLine {
  border: 1px solid #c4c4c4;
  margin-bottom: 22px;
}

.dropdownAndExportBar {
  height: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  background-color: transparent;
  color: black;
  border: 1.7857px solid #c4c4c4;
  height: 100%;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.dropdown:hover {
  background-color: #c4c4c4;
  border: 1.7857px solid #c4c4c4;
}

.exportButton {
  right: auto;
  width: 232px;
  background: #94100c;
  color: white;
  border-radius: 4px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.tableHead {
  background-color: #94100c;
  height: 74px;
}

.tableHeadItem {
  color: white;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  padding-left: 20px;
}

.tableBody {
  margin-top: 10px;
}

.tableData {
  padding: 20px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.tableData:not(:last-child) {
  border-right: 1px solid black;
}
