.page {
  background-color: #e5e5e5;
  min-height: 100vh;
}

.checkbox {
  height: 16px;
  width: 16px;
}

.outer {
  margin-left: 286px;
  display: flex;
  flex-direction: column;
  margin-right: 101px;
  height: 100%;
}

.title {
  position: relative;
  margin-top: 5%;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #000;
}

.tabs {
  display: flex;
  position: relative;
  gap: 50px;
  height: 70px;
}

.tabsButton {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tabsButtonSelected {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  border-bottom: 7px solid #ffd84d;
  border-radius: 4px;
}

.horizontalLine {
  border: 1px solid #c4c4c4;
  margin: 20px 0;
}

.dropdownAndExportBar {
  height: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.exportButton {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  background: #94100c;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  box-shadow: 0 4px 5px gray;
}

.table {
  border: none;
  border-collapse: collapse;
}

.tableHead {
  background-color: #94100c;
}

.tableHeadItem {
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  padding: 1rem;
}

.tableBody {
  margin-top: 10px;
}

.tableData {
  border: none;
  padding: 1rem;
  font-size: 20px;
  text-align: left;
  background: white;
}
