.main {
  overscroll-behavior: none;
  overflow: auto;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 240px;
  height: 100%;
  padding: 4rem 0 2.5rem 1.5rem;
  z-index: 100;
  background: #f9f9f9;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.sidebarButton {
  text-align: left;
  width: auto;
  height: 44px;
  line-height: 44px;
  background: transparent;
  border: 0;
  margin-bottom: 3rem;
}

.buttonText {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  font-family: Lato, sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.active {
  color: #94100c;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.sidebarLogo {
  background: transparent;
  border: 0;
  position: relative;
}

.sidebarLogo img {
  cursor: pointer;
  margin-right: 1rem;
}

.sidebarLogoText {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebarProfile {
  background: transparent;
  border: 0;
  width: 31px;
}

.sidebarProfile img {
  cursor: pointer;
}
